body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey;
  }
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(188, 15, 15, 0.885);
  }
  .display {
    grid-column: 1 / -1;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    background-color: grey;
    border: 1px solid  grey;
    border-radius: 5px;
  } 
  .btn {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  hover:btn{
    color:white;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .about {
    text-align: center;
  }